#root{
  --primary:#B8E8FF;
  --border-color:rgb(237 236 236);
  --background-color:#F0F9FF;
  --text-l:16px;
  --text-m:14px;
  --text-s:12px;
  --subtitle-l:17px;
  --subtitle-m:15px;
  --subtitle-s:13px;
  --title-hero-l:52px;
  --title-hero-m:44px;
  --title-hero-s:34px;
  --title-l:38px;
  --title-m:30px;
  --title-s:24px;
  --cardtitle-l:20px;
  --cardtitle-m:18px;
  --cardtitle-s:16px;
  --section-title-l:28px;
  --section-title-m:24px;
  --section-title-s:22px;
  --text-small-l:14px;
  --text-small-m:12px;
  --text-small-s:10px;
  --text-ultra-small-l:10px;
  --text-ultra-small-m:9px;
  --text-ultra-small-s:8px;
  --fact-l:30px;
  --fact-m:24px;
  --fact-s:20px;
  --standard-gap-l:14px;
  --standard-gap-m:12px;
  --standard-gap-s:10px;
  --section-gap-l:40px;
  --section-gap-m:32px;
  --section-gap-s:26px;
  --text-gap-l:5px;
  --text-gap-m:4px;
  --text-gap-s:3px;
  --padding-l:10px;
  --padding-m:8px;
  --padding-s:6px;
  --padding-wrapper-l:20px;
  --padding-wrapper-m:14px;
  --padding-wrapper-s:10px;
  --padding-small-l:6px;
  --padding-small-m:5px;
  --padding-small-s:4px;
  --lineheight-s:1.2;
  --lineheight-m:1.3;
  --lineheight-l:1.4;
  --curve-l:20px;
  --curve-m:16px;
  --curve-l:14px;
  --curve-small-l:10px;
  --curve-small-m:8px;
  --curve-small-s:6px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
